.header {
  background-color: transparent !important;
}

.logo {
  width: 120px;
}

.menu {
  padding: 7px 21px !important;
  margin: 0 5px;
  font-weight: 500;
  color: #ddd !important;
}

.menu-button {
  background-color: var(--yellow);
  color: #111 !important;
  border-radius: 5px;
}

.logged_user_name p {
  color: var(--yellow);
  margin-bottom: 0;
}

.logged_user_icon {
  margin-top: -3px;
  margin-right: 5px;
}

.user_sign_out_button {
  margin-top: -3px;
  margin-left: 15px;
  font-size: 20px;
  color: #fff !important;
}
